@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}
.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main__section {
    min-height: calc(80vh - 40px);
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.108);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 1px;
    border-radius: 8px;
    background-color: transparent;
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(250%);
}
